/* Styling for Referrer form elements and containers */ 

.textarea-container {
	width: 350px;
	height: 170px;
	clear: left;
	margin-top: 10px;
}

.availability-meeting-container {
	width: 350px;
}

.week-commencing-wrapper {
	width: 350px;
	margin-bottom: 25px;
}

.availability-label {
	width: 80px;
	height: 25px;
	float: left;
}

.availability-row-caption-container, .availability-grid-column-heading {
	height: 28px;
}

.availability-dummy-caption-container {
	height: 60px;
}

.availability-view-dummy-caption-container {
	height: 50px;
}

.availability-row-caption-container {
	width: 85px;
}

.availability-week-table,
.availability-week-data-grid {
    white-space: nowrap;
}

.availability-week-data-grid {
    display: inline-block;
}

.availability-week-caption-column,
.availability-grid-column-container {
	display: inline-block;
	margin-right: 2px;
}

.availability-week-table > .availability-week-caption-column,
.availability-week-table > .availability-week-data-grid 
.availability-week-data-grid > .availability-grid-column-container {
	vertical-align: top;
	display: inline-block;
}

.availability-week-data-grid > .availability-grid-column-container {
	width: 86px;
}

.availability-wrapper{
	width: 86px;
	height: 26px;
	margin-top: 2px;
}

.availability-grid-column-heading {
	height: 50px;
	width: 86px;	
}

.grid-column-heading-element {
	 padding: 20px 0px;
}

.availability-data-box {
	width: 80px;
}

.availability-row-cell  {
	height: 25px;
	width: 35px;
	display: inline-block;
	float: left;
}

.availability-row-title {
	height: 75px;
	width: 35px;
	display: inline-block;
	float: left;
}

.availability-row-box {
	width: 30px;
}

.availability-data-row {
	clear: left;
}

.available {
	background-image: url('images/yes.png');
}

.not-available {
	background-image: url('images/no.png');
}

.maybe-available {
	background-image: url('images/maybe.png');
}

    
