/* Styling for Referrer form elements and containers */ 

.textarea-container {
	width: 330px;
	height: 170px;
	clear: left;
}

.availability-label {
	width: 80px;
	height: 25px;
	float: left;
}

.availability-row-caption-container, .availability-grid-column-heading {
	height: 50px;
}

.availability-dummy-caption-container {
	height: 60px;
}

.availability-view-dummy-caption-container {
	height: 50px;
}

.availability-row-caption-container {
	width: 85px;
}

.availability-week-table,
.availability-week-data-grid {
    white-space: nowrap;
}

.availability-week-table {
	width: 350px;
}

.availability-week-data-grid {
    width: 250px;
}

.availability-week-caption-column,
.availability-grid-column-container:not(:last-child) {
	float: left;
}

.availability-week-table > .availability-week-caption-column,
.availability-week-table > .availability-week-data-grid 
.availability-week-data-grid > .availability-grid-column-container {
	vertical-align: top;
	display: inline-block;
}

.availability-week-data-grid > .availability-grid-column-container {
	width: 80px;
}

.availability-data-cell, .availability-grid-column-heading {
	height: 50px;
	width: 80px;
	
}

.grid-column-heading-element {
	 padding: 20px 0px;
}

.availability-data-box {
	width: 80px;
}
    
